.jumbotron{
    /* margin:auto;
    padding:auto; */
    background-image: url(https://image.freepik.com/free-vector/abstract-technology-background-hacker-concept-programming-coding-binary-computer-code-matrix-background-style_87788-178.jpg);
    background-image: "height", "100%;";
    /* background-image: url(https://i.pinimg.com/236x/21/06/39/210639b6696ee1962acc7c1163768d88--hammocks-dream-vacations.jpg); */
    color: whitesmoke;
    height: 200px;
}

body{
    margin: auto;
    padding: auto;
    text-align: center;

}

form{
    margin-left: 30%;
    margin-right: 30%;
}
.mainImage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    padding: auto;
    text-align: center;

}

#navigation{
    margin-left: 60px;
}

#carouselExampleFade{
    width:400px;
    height:200px;
    margin: auto;
    padding: auto;
    float: left;
}

.carousel{
    height: 500px;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: auto;
}
.card{
    text-align: center;
    margin: auto;
    padding: auto;
}

#container{
    text-align: center;
    margin: auto;
    padding: auto;
}

#aboutme{
    text-align: center;
    margin: auto;
    padding: auto;
}

.aboutmetext{
    text-align: center;
    margin: auto;
    padding: auto;
}